/* You can add global styles to this file, and also import other style files */
:root{
    --snowFlaces:#50d8f3;
    --lmcolor:black;
    --nmcolor:white;
    --bgcolor:rgb(39, 39, 39);
    /* --blurcolor:transparent; */
    --blurcolor:hsla(0, 0%, 100%, 0.35);
    --headercolor:rgba(85, 85, 85, 0.398);
  }
  body{
    scroll-behavior: smooth;
    transition: 0.3s;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .qartuli{
    font-family: 'Noto Sans Georgian', sans-serif;
  }
  .darkModeText{
    color:var(--nmcolor);
  }
  .darkModeMain{
    background-color: var(--bgcolor);
  }
  .divTransparentDark{
    background-color: var(--headercolor);
  }
  
  span{
    font-family: 'Open Sans', sans-serif,'Noto Sans Georgian';
    transition: 0.3s;
    color: var(--lmcolor);
  }
  h1{
    font-family: 'Open Sans', sans-serif,'Noto Sans Georgian';
    transition: 0.3s;
    color: var(--lmcolor);
  }
  h2{
    font-family: 'Work Sans', sans-serif,'Noto Sans Georgian';
    transition: 0.3s;
    color: var(--lmcolor);
  }
  p,a{
    font-family: 'Karla', sans-serif,'Noto Sans Georgian';
    transition: 0.3s;
    color: var(--lmcolor);
  }
  
  @keyframes fall {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 100vh;
      opacity: 1;
    }
  }
  @keyframes sway {
    0% {
      margin-left: 0;
    }
    25% {
      margin-left: 50px;
    }
    50% {
      margin-left: -50px;
    }
    75% {
      margin-left: 50px;
    }
    100% {
      margin-left: 0;
    }
  }
  
  #snow-container {  
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
    z-index: -1;
  }
  .snow {
    animation: fall ease-in infinite, sway ease-in-out infinite;
    color: skyblue;
    position: absolute;
    z-index: -1;
  }
